* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", system-ui;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#bg1,
#bg2,
#bg3,
#bg4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  max-width: 100%;
  max-height: 100%;
}

#play {
  cursor: pointer;
  background: none;
  color: #b5a642;
  font-family: inherit;
  font-size: 80px;
  padding: 16px 32px;
  letter-spacing: 16px;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%);
}

.hide {
  display: none;
}

#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#lucky,
#projectile,
#gears,
#hivewhale,
#drone,
#smokeExplosion,
#fireExplosion,
#bulbwhale,
#moonfish,
#shield,
#fireball,
#stalker,
#razorfin {
  display: none;
}
